body{
    color: firebrick;
}
nav a{
    color: khaki;
    text-decoration: none;
    background-color: gray;
}
nav a:hover{
    color: magenta;
}
footer{
    background-color: black;
    color: white;
    text-align: center;

}
div {
    color: black;
    background-color: black;
}
.box1
.box2
.box3{
    border: 1px solid;
    width: 100px;
    height: 100px;
}
.box1{
    background-color: red;
    float: left;
}
.box2{
    background-color: pink;
    float: left;
}
.box3{
    background-color:   green;
    width: 100px;
    height: 100px;
    clear: both;
}
.image-container {
    display: flex;
  }
  
  .image-wrapper {
    flex: 1;
    margin-right: 10px; 
  }
  
  .image-wrapper img {
    width: 120px; 
    max-width: 120px; 
    height: 120px; 
  }