body{
    color: firebrick;
}
nav a{
    color: khaki;
    text-decoration: none;
    background-color: gray;
}
nav a:hover{
    color: magenta;
    text-transform: ;
}
#footer{
    background-color: black;
    color: white;
    text-align: center;

}
div{
    color: black;
}